<ion-header  class="menu" class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>

  <div style="background-color:#5C8298 !important; height: 74px; text-align: center; vertical-align: middle;">
       <ion-text class="textHeader"><ion-icon name="bookmark" style="width:30px; height:30px; padding-right:10px" ></ion-icon>Favoritter</ion-text>
    </div>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <div style="margin-top: 6px; margin-bottom: 4px;">
      <ion-searchbar placeholder="Hva leter du etter?" [(ngModel)]="searchTerm" (ionChange)="filtrarArticulos()"></ion-searchbar>
    </div>
    
  <div>
    <div *ngIf="noticias.length === 0">
      <ion-slide>
        <ion-label> No hay favoritos</ion-label>
      </ion-slide>
     
    </div>
    <ion-card *ngFor="let noticia of noticias; let i = index" style="padding-left: 0px; flex-direction: row;">
      <ion-row >
        <ion-col col style="padding: 0px;" size=4 >
         <!-- <ion-img [src]="card.img" style="width:162px; height:130px; object-fit: cover; align-self: flex-start; padding-right: 0px;"></ion-img>-->
          <ion-img [src]="noticia?.img"></ion-img>
        </ion-col>
        <ion-col col style="padding: 0px;">
          <ion-card-content style="font-size:13px; object-position: left; display: flex; align-self: flex-start; text-align: left; padding-bottom: 0px;" (click)="gotoNoticia(noticia)" [innerHTML]="noticia?.texto | slice:0:100"> ...</ion-card-content>
       <!--  <div style="text-align: right; padding-right: 20px;"> <ion-icon name="bookmark-outline" [style.color]="noticia?.texto ? '#00CC00' : '#FF0000'" (click)="clickFav(noticia)"></ion-icon></div>  -->
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  </div>
</ion-content>
