<ion-header class="menu" class="ion-no-border">
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" mode="ios" text="Tilbake"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>

    <div style="background-color:#1f5270 !important; height: 44px; text-align: center; vertical-align: middle;">
        <ion-text class="textHeader">Om Appen</ion-text>
    </div>
</ion-header>

<ion-content *ngIf="data.length != 0"> 
    <div style="height:240px; overflow: hidden;">
        <ion-img [src]="data.img"></ion-img>
    </div>
    <h1 style="text-align: center; color:#32325D; font-family: 'OpenSans'; font-size: 28px;" >{{data.title }}</h1>

    <div style="width:80%;border-top-width:thin; border-color: grey; border-top-style:solid; padding-top: 10px; margin:0 auto;"  [innerHTML]="data?.texto">
    
    </div>
  
</ion-content>