<ion-header class="menu" class="ion-no-border">
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>

    <div style="background-color:#1f5270 !important; height: 74px; text-align: center; vertical-align: middle;">
        <ion-text class="textHeader">
            <ion-icon name="business" style="width:30px; height:30px; padding-right:10px"></ion-icon>Kommuner</ion-text>
    </div>
</ion-header>
<ion-content [fullscreen]="true">

    <div id="container">
        <div style="margin-top: 6px; margin-bottom: 4px;">
            <ion-searchbar placeholder="Hva leter du etter?" [(ngModel)]="searchTerm" (ionChange)="filtrarArticulos($event)"></ion-searchbar>
        </div>

        <div style="max-width: 100%; text-align: center;">
            <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
                <ion-slide *ngFor="let tags of tag" style="width:auto; margin-right: 5px; margin-left: 5px; padding: 0; ">
                    <ion-col>
                        <ion-button color="light" size="full" block (click)="filtrarTag(tags)">{{ tags}}</ion-button>

                    </ion-col>
                </ion-slide>
            </ion-slides>




            <ion-virtual-scroll [items]="data | async | filtro:searchTerm: 'texto'" approxItemHeight="150px">
                <ion-item *virtualItem="let item" style="padding:0px; margin:0px" lines="none">
                    <ion-card style="padding-left: 0px; flex-direction: row; margin-left:0px; margin-right:0px; height: 136px;" (click)="gotoNoticia(item)">
                        <ion-row>
                            <ion-col col style="padding: 0px;" size=4>
                                <ion-img [src]="item?.img" [alt]="item?.alt"></ion-img>
                            </ion-col>
                            <ion-col col style="padding: 0px;">
                                <ion-card-content style="font-size:16px; font-weight: bold; padding-bottom: 0px; text-align: left;" [innerHTML]="item?.title | slice:0:100 "></ion-card-content>
                                <p style="font-size: 14px; padding-top: 10px; padding-left:20px; padding-right: 12px; text-align: left;">{{item?.desc | slice:0:50}} ...</p>
                                <p style="display:none;">{{item?.texto || slice:0:50}</p>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ion-item>
            </ion-virtual-scroll>
        </div>
    </div>
</ion-content>