<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
      <ion-icon  name="person-outline" class="icon_l" style="width: 18px; height: 18px; margin-left:12px; margin-right:12px; margin-top:12px;"></ion-icon>
      <ion-label *ngIf="myName != textValue" style="margin-top:12px;" (click)="openFirst()" routerDirection="root" [routerLink]="[loginout.url]">{{nameValue$ | async}}</ion-label>
      <ion-label *ngIf="myName == textValue" style="margin-top:12px;" (click)="openFirst()" routerDirection="root" [routerLink]="[loginApp.url]">{{nameValue$ | async}}</ion-label>
      <div class="separator_top" ></div> 
      <ion-list id="inbox-list">
        <!--  <ion-grid>
            <ion-row style="display:flex; align-items: center; margin-top: 41px; justify-content: center;">
              <ion-col>
                -->
                <div style="margin-top:42px; display: flex; align-self: center; justify-content: center;">
                <ion-img style="width: 32px; height: 32px; display: flex; align-self: center; justify-content: center; margin-right: 10px;" src="../assets/SAFO_estrella.png"></ion-img>
           
        
                <ion-text style="font-weight: 700; font-size: 42px; ">RÅD</ion-text>
              </div>
            <!--  </ion-col>
            </ion-row>
          </ion-grid>
          -->
        
        
          <div style="margin-bottom: 50px;"></div>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ng-container *ngIf="i == 6 ">
              <div class="separator" ></div>
              <ion-text style="font-size: 13px; font-family: 'OpenSans'; color: #8898AA; padding: 20px; margin-top:20px">DOKUMENTASJON</ion-text>
            </ng-container>
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
           
          </ion-menu-toggle>
        </ion-list>
<!--
        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      -->
        

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
